.MUHIBUL {
    color: red;
    text-align: center;
    text-decoration: underline wavy rebeccapurple;
    background-image: url(../images/udoy/out.\ -\ 2023-02-10T183514.964.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

P {
    background-color: navy;
    font-size: 39px;
}

h1 {
    color: red;
    font-family: monospace;
    font: size 40px;
    ;
}